.style-control{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.table thead th {
    vertical-align:inherit;
}
tr td .style-btn {
    font-size: 12px;
    float: right;
    display: block;
}