.pd-0{
    padding: 0;
}
.logo {
    padding: 0;
}
.logo .pd-logo {
    padding: 45px 69px;
}
.logo .link {
    margin-left: 10%;
}
.logo .link li a {
    color: #3f4853;
    font-size: 16pt;
    padding: 0 39px;
}
.logo .link li .home  {
    color: #3cb878;
}
.mg-icon {
    margin-right: 71px;
}
.logo .mg-icon li a {
    padding: 0 30px;
    color: #333333;
    padding-right: 15;
}
.boder {
    border: none;
    background-color: #131313;
    margin-bottom: 100px;
}
.boder .mg-left-card {
    margin-left: 25%;
}
.boder .mg-left-card .mg-top-h5{
    margin-top: 280px;
    font-size: 40px;
    color: #333;
}
.boder .mg-left-card .font-h6 {
    font-size: 40px;
    color: #3cb878;
}
.boder .mg-left-card .mg-bottom-button {
    margin-bottom: 20%;
    padding: 12px 24px;
    border-left: 0;
    border-radius: 10px;
}
.boder .mg-left-card p {
    font-size: 19px;
    color: #333;
    padding-bottom: 10px;
}
/* .row{
    border: none;
    margin-right: 71px;
} */
.pd-col {
    border: none;  
    margin-right: 1%;
}
.boder-none {
    border: none ;
}
/* .pd-col .boder-none .pd-top-card-body {
    padding-top: 25%;
    margin-left: -40%;
} */
.pd-col .boder-none .pd-top-card-body .font-h5{
    font-size: 20pt;
    color: #333333;
}
.pd-col .boder-none .pd-top-card-body span{
    padding-top: 14px;
    font-size: 13pt;
    color: #3cb878;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.pd-col .boder-none .pd-top-card-body p{
    padding-top: 39px;
}    
/* .pd-col img{
    padding-top: 100px ;
} */
.pd-col .pd-card-body{
    padding: 12% 0 25% 0;
}
.pd-col .pd-card-body .color-1 {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}
.pd-col .pd-card-body .color-2{
    color:  #97d9b7;
    font-size: 18pt;
    line-height: 2;
}
.pd-col .pd-card-body .color-3 {
    color: #ff9600;
    font-size: 14pt;
}
.pd-col .pd-card-body .color-3 .icon-color{
    color: #ff9600;
    font-size: 14pt;
}
.bg-color {
    background-color: #f5f6f9;
}
.boder-card {
    border: none;
    background-color: #f5f6f9;
}
.boder-card .center-card-body {
    text-align: center;
    padding-top: 52px;
    height: 200px;
}
.boder-card .center-card-body .font-a-1{
    font-size: 40px;
    color: #464646;
}
.boder-card .center-card-body .font-a-2{
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #232323;
    line-height: 2;
}
.boder-card .center-card-body .font-a-3 {
    color: #979797;
    font-size: 13.02pt;
} 
.with-card{
   border: none;   
}
.card-body-a {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 5%;
}
.with-card .card-body-a .pd-top-link-1 {
    color: #333333;
    font-size: 30pt;
    font-weight: bold;  
    text-transform: uppercase;
}
.with-card .card-body-a .pd-top-link-2 {
    color: #8fd1ac;                  
    font-style: italic;
}
/* .bg-img {
    background-image: url(./images/layer-8.png);

} */
.pd-col-6 {
    padding: 0;
}
.pd-col-6 .boder-none{
    background-color: #2b2f41;
    border-radius: 0;
}

.pd-col-6 .boder-none .text h5 {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 19px;
} 
.pd-col-6 .boder-none .text p {
    color: #ffffff;
    padding-left: 10px;
    /* padding: 7px 0; */
}
.pd-col-6 .boder-none .text .form .pd-form .pd-email {
    padding-right: 100px;
    border-radius: 0;
}
.pd-col-6 .boder-none .text .form .boder-button {
    background-color: #3cb878;
    border-color: #3cb878 ;
    border-radius: 0;
}
.pd-col-6 .text {
    border-radius: none;
}
.pd-col-6 .text .text-center p{
    padding: 1% 0;
}
.boder-col-6 {
    border: 1px solid rgba(0,0,0,.125);
}
.pd-col-6 .pd-ul {
    padding: 2% 0;
}
.pd-col-6 .pd-ul .mg-50 {
    margin: 0 35%;
}
.pd-col-6 .pd-ul .mg-50 li {
    padding: 0 10%;
    
}
.pd-col-6 .pd-ul .mg-50 li a{
    color: #464646;
}
.group {
    margin-top: 50px;
}
.title-group p{
    padding-left: 11%;
    text-transform: uppercase;
    color: #464646;
}
.group .boder-with  li{
    border-width: 0 ;
}
.color-p li p {
    color: #545454;
    padding-top: 10px;
    font-size: 19px;
}
.pd-a {
    margin-left: 50%;
}
.pd-a li a {
    padding: 3% 10px;
    font-size: 30px;
}
.pd-none {
    padding: 0;
}
.full-width {
    width: 100%;
}

