span {
    font-size: 24px;
    color: rgba(255,255,255,.5);
}
.pd-none{
    padding: 0;
}
.logo {
    padding: 0;
}
.bg-color {
    background-color: #f5f6f9;
}
.boder-none {
    border: none ;
}
.mg-icon {
    margin-right: 71px;
}
.boder-none{
   border: none;   
}
.pd-col-6 {
    padding: 0 0;
}
.boder-col-6 {
    border: 1px solid rgba(0,0,0,.125);
}
.group {
    margin-top: 50px;
}
.pd-a {
    margin-left: 50%;
}
.full-width {
    width: 100%;
    height: 100%;
}
/* css shop-cart */
.form-enter{
    padding-left: 17%;
}
.h5-voucher{
    padding-left : 17%;
}
.input-apply{
    background-color: rgb(60, 184, 120);
}
h5{
    padding: 5% 0;
}
h4{
    padding: 5% 0;
}
}
.table-main tbody .table-main-tr{
    border-top: 1px solid;
}
.table-main tbody tr td{
    padding: 3.5%;
}
.table-main tbody tr .td-right{
    float: right;
}